.product-page {

  &__related {
    margin-top: 96px;
    margin-bottom: 96px;
  }
  &__block {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 992px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }



}

