.advantage {
  border-bottom: 2px solid #F8F8F8;
  &__wrap {
    padding-top: 32px;
    padding-bottom: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @media (max-width: 576px) {
      max-width: 360px;
      grid-template-columns:  1fr;
    }
  }
  &__block {
    display: flex;

  }
  &__img {
    margin-right: 8px;
  }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: var(--Spartan);
    font-style: normal;
    font-size: 12px;
    color: #121212;

  }
  &__title {
    font-weight: 600;
    display: flex;
    letter-spacing: 0.06em;
    text-transform: uppercase;

  }
  &__text {
    font-weight: 500;
    opacity: 0.9;
  }
  &__line {
    margin-top: -2px;
    height: 2px;
    border: none;
    background: #F8F8F8;
  }
}