.advantage{
  margin: 0 auto;
  padding: 32px 0;
  max-width: 1110px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  &__block{
    display: flex;
  }
  &__img{
    margin-right: 8px;
  }
  &__description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-size: 12px;
    color: #121212;
  }
  &__title{
    font-weight: 600;
    display: flex;
    letter-spacing: 0.06em;
    text-transform: uppercase;

  }
  &__text{
    font-weight: 500;
    opacity: 0.9;
  }
  &__line{
    margin-top: -2px;
    height: 2px;
    border: none;
    background: #F8F8F8;
  }
}