.catalog{
  margin-top: 96px;
  margin-bottom: 50px;
  &__header{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    font-family: Spartan, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
  }
  &__filter{
    display: flex;
  }
  &__sorting{
    padding-left: 32px;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.06em;
    color: #121212;
    opacity: 0.6;
    list-style-type: none;
  }
}