.selected{
  padding-top: 12px;
  padding-bottom: 14px;
  display: flex;
  gap: 16px;
  border-bottom: 2px solid #E6E6E6;
  &__preview{
    position: relative;
  }
  &__sale{
    position: absolute;
    top: 0;
    left: 0;
  }
  &__img{
    width: 83px;
    height: 104px;
  }
  &__block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &__manage{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}