.goods {
  padding-right: 24px;
  padding-left: 24px;

  &__selected {
    height: calc(100vh - 312px);
    overflow: auto;
    /*  Firefox */
    scrollbar-width: thin;
    scrollbar-color: #8D8B8B #E6E6E6;
    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background: #E6E6E6;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #8D8B8B; /* color of the scroll thumb */
    }
  }

  &__text {
    margin: 0 auto;
    max-width: 191px;
    font-family: var(--Spartan);
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 150%;
    text-align: center;
    color: #121212;

    &--none {
      display: none;
    }
  }
}