.info{
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  @media (max-width: 576px) {
  grid-template-columns: 1fr;
  gap: 20px;
}

  &__block li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--Spartan);
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 34px;
    color: #121212;
    opacity: 0.8;
  }
  &__block img{
    padding-right: 8px;
  }
  &__title{
    padding-bottom: 8px;
    font-family: var(--Spartan);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
  }
}