.error{
    &__text{
    margin: 20px 0;
    padding: 8px 0;
    text-align: center;
    font-family: var(--Spartan);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    background: #fff2f0;
    border-top:solid 2px #D61313;
  }
}