.promo{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;

  &__block{
    margin-top: 96px;
    margin-bottom: 96px;
    position: relative;
  }

  &__banner{
    padding: 16px 24px;
    position: absolute;
    top: 50% ;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 600;
    border-radius: 4px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    z-index: 4;
    background: #FFFFFF;
  }
  &__title{
    font-size: 12px;
    line-height: 13px;
    opacity: 0.6;
  }
  &__text{
    padding-top: 8px;
    white-space: pre;
    font-size: 16px;
    line-height: 18px;
    &--color{
    color: #E91E63;
  }
  }


}