.product-top{
  background: #F8F8F8;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    margin-top: 7px;
    margin-bottom: 7px;
    position: relative;
    font-family: var(--Spartan);
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;
    text-transform: capitalize;

    &--next {
      padding-left: 21px;

      &:before {
        position: absolute;
        top: 50%;
        left: 14px;
        transform: translate(-50%, -50%);
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 3px 6px 3px 9px;
        border-color: transparent transparent transparent #121212;;
        z-index: 2;
        opacity: 0.6;
      }

    }

    &--active {
      opacity: 1;

      &:before {
        opacity: 1;
      }
    }
  }
  &__share {
    margin: 7px 0;
  }
  &__img {
    margin-right: 8px;
  }
  &__title {
    padding-top: 10px;
    text-align: center;
    font-family: var(--Spartan);
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #121212;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
  &__rating {
    padding-bottom: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }
  &__stars {
    display: flex;
    align-items: center;
  }
  &__amount {
    display: flex;
    align-items: center;
    font-family: var(--Spartan);
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    color: #121212;
    opacity: 0.6;
  }
  &__availability {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
  }
  &__item {
    padding-bottom: 6px;
    display: flex;
    gap: 2px;
  }
  &__text {
    padding-right: 2px;
    font-family: var(--Spartan);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #121212;
    opacity: 0.6;

    &--bold {
      font-weight: bold;
      opacity: 1;
    }

    &--large {
      font-size: 14px;
      line-height: 22px;
    }
  }
}