.cards {
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__sale {
    position: absolute;
    font-family: var(--Spartan);
    padding: 9px 8px;
    top: 0;
    left: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    background-color: #E91E63;
    color: #FFFFFF;
    z-index: 4;
     }

  &__img {
    width: 100%;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__title {
    padding-top: 16px;
    font-family: var(--Spartan);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    opacity: 0.6;
  }

  &__price {
    padding-top: 12px;
    font-family: var(--Spartan);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    &--sale {
      font-family: var(--Spartan);
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 13px;
      text-decoration-line: line-through;
      color: #121212;
      opacity: 0.4;
      @media (max-width: 768px) {
        bottom: 25px;
      }
    }
  }
}