.social{
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;

  &__item{
    display: flex;
    align-items: center;
    padding-left: 12px;
    list-style-type: none;
  }
}