.preview {
  margin-top: 32px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__slider {
    width: 100%;

  }

  &__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__item {
    position: relative;
  }

  &__banner {
    min-width: 118px;
    padding: 13px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    background-color: #FFFFFF;
    border-radius: 4px;

  }

}