.blog{
  &__header{
    margin-top: 96px;
    padding-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
  }
  &__button{
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    text-align: right;
    letter-spacing: 0.06em;
    color: #121212;
    opacity: 0.6;
    border: none;
    background: #FFF;
  }
  &__articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}