.top-bar{
  background: #121212;
  &__wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    @media (max-width: 576px){
            justify-content: center;
    }
  }
}