*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration:none;
  color: inherit;
}
img{
  max-width: 100%;
  object-fit: cover;
  display: inline-block;
  vertical-align: top;
}

.contain {
  max-width: 1140px;
  margin: 0 auto;
  padding-left:15px;
  padding-right: 15px;
}

// ---------------------------------------------------------------------------------------------
:root {
  --Spartan: 'Spartan', sans-serif;
  --Inter: 'Inter', sans-serif;
  --small: 576px;
  --midle: 992px;
  --midle2: 768px;
  }


