.nav {
  @media (max-width: 992px) {
    order: 3;
    width: 100%;
  }

  &__list {
    display: flex;
    align-items: center;
    @media (max-width: 992px) {
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  &__item {
    padding: 25px 16px;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    list-style-type: none;
    @media (max-width: 992px) {
      padding: 0 8px 25px;
    }
  }
}