.nav{
  &__list{
    display: flex;
    align-items: center;
  }
  &__item{
    padding: 25px 16px;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    list-style-type: none;
  }
  }